<body class="container">
  <section class="blue">

<section class="loginForm">
  
<form action="/auth/login" method="POST" class="d-flex justify-content-center align-items-center flex-column bd-highlight mb-3 card-text">
  
  <input type="email" name="email" class="loginInput" placeholder="  Email"> <br>
  <input type="password" name="password" class="loginInput" placeholder="  Password"><br>
  <a href="/" id="forgot">Forgot your password?</a>
  
  <input type="submit" class="loginButton" value="HAPPY CODING!">
  </form>

</section>


  </section>

<section class="initText">
<h1 style="font-size: 70px" class="initH1">Student Platform</h1>
<p class="initP">Please enter your student credentials in order to access your private area.</p>
  </section>

</body>