<h2>Create your profile</h2>

<form action="/editProfile/{{user._id}}" method="POST" enctype="multipart/form-data">
  <label>Username</label>
  <input type="text" name="username" placeholder="NedStark123">
  <br>
  <label>Name</label>
  <input type="text" name="name" placeholder="Ned Stark">
  <br>
  <label>Age</label>
  <input type="number" name="age" placeholder="45">
  <br>
  <label>Current Job</label>
  <input type="text" name="currentJob" placeholder="Guardian of the North">
  <br>
  <label>Social Media:</label>
  Twitter:<input type="text" name="twitter">
  LinkedIn:<input type="text" name="linkedin">
  GitHub:<input type="text" name="github">
  Facebook:<input type="text" name="facebook">
  Codewars:<input type="text" name="codewars">
  Instagram:<input type="text" name="instagram">
  <br>
  <label>Ironhack Projects:</label>
  Project 1:<input type="text" name="project1">
  Project 2:<input type="text" name="project2">
  Project 3:<input type="text" name="project3">
  <label>Profile picture</label>
  <input type="file" name="profileImg"/>
  <input type="submit" value="Create">
</form>