<h2>Create your profile</h2>

<form action="/editProfile/{{user._id}}" method="POST" enctype="multipart/form-data">
<p>
  <label>Username</label>
  <input type="text" name="username" placeholder="NedStark123">
</p>
<p>
  <label>Name</label>
  <input type="text" name="name" placeholder="Ned Stark">
</p>
<p>
  <label>Age</label>
  <input type="number" name="age" placeholder="45">
</p>
<p>
  <label>Current Job</label>
  <input type="text" name="currentJob" placeholder="Guardian of the North">
</p>
<p>
  <label>Social Media:</label>
  Twitter:<input type="text" name="twitter">
  LinkedIn:<input type="text" name="linkedin">
  GitHub:<input type="text" name="github">
  Facebook:<input type="text" name="facebook">
  Codewars:<input type="text" name="codewars">
  Instagram:<input type="text" name="instagram">
</p>
  <p>
    <input type="submit" value="Create">
  </p>
</form>