<body class="container">
  <section class="blue indexButtons">

    {{!-- ANIMATION  --}}
<img class="d-flex justify-content-center align-items-center logo logo-animation" src="https://dl.dropboxusercontent.com/s/rfa6fq5ziefnrvb/logo.png?dl=0" alt="" style="width:500px;">
<section>
  <br>
  <br>
  <br>
  <br>
    <h1 style="font-size: 45px" class="initH1">Welcome Ironhacker</h1>
</section>
  <a href="/auth/login" class="indexLogin btn btn-outline-light btn-block" style="font-size: 1.7rem; width:400px;">LOG IN</a>

  <a href="/auth/signup" class="indexSignup btn btn-outline-light btn-block" style="font-size: 1.7rem; width:400px;">SIGN UP</a>

  </section>

</body>