

<body class="grey">

<div id="container">

{{!-- ANIMATION  --}}
<img class="blue logo1 logo-animation" src="https://dl.dropboxusercontent.com/s/rfa6fq5ziefnrvb/logo.png?dl=0" alt="" width="450px">
{{!--  --}}


<div>
  <img class="blue logo2" src="https://dl.dropboxusercontent.com/s/zru3wmp70k17qyc/logoBlue.png?dl=0" alt="" width="450px">
<div>
  
<nav>
  <a href="/auth/login" class="indexLogin">LOG IN</a>

  <a href="/auth/signup" class="indexSignup">Sign up</a>
</nav>
 
  <div>
<h1 style="font-size: 70px" class="initH1">Student Platform</h1>
<p class="initP">Please enter your student credentials in order to access your private area.</p>
  </div>

</div>
</div>



{{!-- <div>
  <img class="blue logo2" src="https://dl.dropboxusercontent.com/s/zru3wmp70k17qyc/logoBlue.png?dl=0" alt="" width="450px">
<div>
  <img class="blue logo1 logo-animation" src="https://dl.dropboxusercontent.com/s/rfa6fq5ziefnrvb/logo.png?dl=0" alt="" width="450px">
<h1>IRONHACKERS</h1>
<p>Wellcome to the greatest community in tech.</p>
 --}}