<h2>Wellcome to your profile</h2>
<header>
  <nav>
    <ul>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 9vh;"></li>
      <li class="menu"><a href="#" class="profileLogout">Logout</a></li>
    </ul>
  </nav>
</header>


<div class="hex" style="background-image: url(https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg);">		
		
	<div class="corner-1"></div>
	<div class="corner-2"></div>		
</div>

{{#each user as |profile|}}
<p>Name: {{profile.name}}</p>
<p>Username: {{profile.username}}</p>
<p>Age: {{profile.age}}</p>
<p>Current Job: {{profile.currentJob}}</p>
{{/each}}
