* {
  padding: 0px;
  margin: 0px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(39, 43, 48, 0.9); }

.blue {
  background-image: url(https://dl.dropboxusercontent.com/s/zru3wmp70k17qyc/logoBlue.png?dl=0);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 700px;
  height: 550px; }

.logo {
  position: absolute; }

.indexButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.initH1 {
  display: flex;
  align-items: center;
  font-family: Yanone kaffeesatz;
  color: white; }

.loginForm,
.signForm {
  margin-top: 245px; }

.loginInput,
.signupInput {
  height: 50px;
  width: 300px;
  border: 2px solid #257ab9; }

#forgot {
  margin-top: 50px;
  font-size: .9rem; }

.signButton {
  position: absolute;
  margin-top: 100px;
  padding: 10px 0 10px 0;
  width: 180px;
  background: #257ab9;
  border: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 900; }

.loginButton {
  position: absolute;
  margin-top: 60px;
  padding: 10px 0 10px 0;
  width: 180px;
  background: #257ab9;
  border: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 900; }

.initText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c8c8c8; }

.initH1 {
  font-family: Yanone kaffeesatz; }

.initP {
  font-family: Arial, Helvetica, sans-serif; }

nav {
  width: 100vw;
  height: 7vh;
  background: grey; }

ul {
  display: flex;
  justify-content: space-between;
  align-content: center; }

li {
  display: flex;
  color: white;
  margin: 1.5vh 2.5vw 1.5vh 1vw; }

img {
  display: flex;
  align-content: center; }

.profileLogout {
  color: white;
  font-family: Yanone Kaffeesatz; }

#profileUsername {
  font-family: Yanone Kaffeesatz;
  margin: 0 3% 7% 10%;
  font-size: 2.1rem;
  text-align: center; }

.profileContainer {
  margin-top: 1%;
  width: 25vw; }

.dataContent {
  text-align: center;
  width: 15vw;
  height: 25vh;
  margin: 0 3% 0 10%; }

.socialMedia {
  width: 5vw;
  height: 90vh; }

.smLogos {
  display: flex;
  margin: 5% 1% 5% 15%;
  width: 59%; }

.tableP {
  margin: 10% 10% 10% 10%; }

.hex {
  width: 150px;
  height: 86px;
  background-color: #ccc;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: 200px;
  position: relative;
  float: center;
  margin: 40% 5% 35% 10%;
  text-align: center;
  zoom: 1.6; }

.hex.hex-gap {
  margin-left: 86px; }

.hex .corner-1,
.hex .corner-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0;
  overflow: hidden;
  backface-visibility: hidden; }

.hex .corner-1 {
  z-index: 0;
  transform: rotate(60deg); }

.hex .corner-2 {
  transform: rotate(-60deg); }

.hex .corner-1:before,
.hex .corner-2:before {
  width: 173px;
  height: 173px;
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat: no-repeat;
  backface-visibility: hidden; }

.hex .corner-1:before {
  transform: rotate(-60deg) translate(-87px, 0px);
  transform-origin: 0 0; }

.hex .corner-2:before {
  transform: rotate(60deg) translate(-48px, -11px);
  bottom: 0; }

.logo-animation {
  -webkit-animation: rotate-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
  animation: rotate-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both; }

@-webkit-keyframes rotate-out-top {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; } }

@keyframes rotate-out-top {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    visibility: hidden; } }

/*# sourceMappingURL=style.css.map */