*{
  padding: 0px;
  margin: 0px;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  width: 100vw;
  height: 100vh;
  background: rgba(39, 43, 48, .9);
}

.blue{
  background-image: url(https://dl.dropboxusercontent.com/s/zru3wmp70k17qyc/logoBlue.png?dl=0);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;

  display: flex;
  align-items: baseline;
  justify-content: center;

  width: 700px;
  height: 550px;
}

.logo{
  position: absolute;
}

.indexButtons{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

/////////// ANIMATIONS
.logo-animation {
	-webkit-animation: rotate-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
	animation: rotate-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
}

.initH1{
  display: flex;
  align-items: center;
  
  font-family: Yanone kaffeesatz;
  color: white;
}

@-webkit-keyframes rotate-out-top {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}
@keyframes rotate-out-top {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
  }
}