*{
  padding: 0px;
  margin: 0px;
  font-family: 'Pontano Sans', sans-serif;
}

.initContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  width: 100vw;
  height: 100vh;
  background: rgba(39, 43, 48, .9);
}

.blue{
  background-image: url(https://dl.dropboxusercontent.com/s/zru3wmp70k17qyc/logoBlue.png?dl=0);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;

  display: flex;
  align-items: baseline;
  justify-content: center;

  width: 700px;
  height: 550px;
}

///INDEX STYLE
.logo{
  position: absolute;
}

.indexButtons{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
.initH1{
  display: flex;
  align-items: center;
    
  font-family: Yanone kaffeesatz;
  color: white;
  }

///LOGIN & SIGNUP STYLE
.loginForm,
.signForm{
  margin-top: 245px;
}

.loginInput, 
.signupInput{
  height: 50px;
  width: 300px;
  border: 2px solid #257ab9;
}

#forgot{
  margin-top: 50px;
  font-size: .9rem;
}

.signButton{
  position: absolute;
  margin-top: 100px;
  padding: 10px 0 10px 0;
  width: 180px;

  background: #257ab9;
  border:10px;
  
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

.loginButton{
  position: absolute;
  margin-top: 60px;
  padding: 10px 0 10px 0;
  width: 180px;

  background: #257ab9;
  border:10px;
  
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

.initText{
  display: flex;
  flex-direction: column;
  align-items: center;
    
  color: #c8c8c8;
}

.initH1{
  font-family: Yanone kaffeesatz;
}

.initP{
  font-family: Arial, Helvetica, sans-serif;
}

//////////PROFILE
nav {
  width: 100vw;
  height: 7vh;
  background: #32c3ff;
}

.navColorDiv{
  height: 5px;
  background-color: #257ab9;
}

ul{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

li {
  display: flex;
  color: white;
  margin: 1.5vh 2.5vw 1.5vh 1vw;
}

img{
  display: flex;
  align-content: center;
  margin: .5vh 0 0 0;
}

.navButtons{
  color: white;
  //font-family: Yanone Kaffeesatz;
}

.p-gridContainer{
  display: grid;
  grid-template-columns: .8fr .2fr 1.5fr;
  grid-gap: 5px;

  padding: 20px 0px 0 10px;

  position: absolute;
  top: 7.5vh;
  bottom: 0;
}

#profileUsername{
  font-family: Yanone Kaffeesatz;
}

.profileContainer{
  display: grid;
  padding: 30px;
  align-content: center;
  grid-template-rows: 2fr 2fr 1fr;

  
  grid-gap:10px;
}

.profileButton{
  width: 6vw;
  display: grid;
  align-content: center;
  padding: 1fr;
}

.box{
  display: grid;
  align-content: center;
  text-align: center;
}

.socialMedia{
  display:grid;
  padding: 10px;
  align-content: center;
  width: 4vw;
}

.smButtons{
  display: grid;
  padding: 1px;
  grid-gap: 5px;
  grid-auto-rows: 1fr;
  align-content: center;
}

.circleButton{
  display: grid;
  align-content: center;
}

.smLogos{
  width: 100%;
}

///////////Profile menu grid
.pf-menu{
  width: 70vw;
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-gap: 10px;
}

.menuBox{
  display: grid;
  padding: 140px;

  width: 70vw;
  height: 80vh;
}

.gridText{
  color:  white;
  font-size: 3.5rem;
}

.edu{
  height: 200px;
  grid-row-start: 1;
  grid-row-end: 2;
  
  grid-column: 1/2;

  background-color: #65DAF1
}

.agora{
  height: 200px;
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column: 1/2;
  
  background-color: #6594F1
}

.ironhackers{
  height: 200px;
  grid-row-start: 3;
  
  grid-column: 1/2;

  background-color: #7C65F1 
}

////////////HEX
.hex {
  width:150px;
  height:86px;
  background-color: #c8c8c8;
  background-repeat: repeat;
  background-position: 50% 50%;                   
  background-size: 200px;                                                    
  position: relative;
  margin:20% 1% 20% 25%;
  text-align:center;
    
  zoom:1.5;
}

.hex.hex-gap {
  margin-left:1px;
}

.hex .corner-1,
.hex .corner-2 {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: inherit;

  z-index:0;                                            

  overflow:hidden;                
  backface-visibility: hidden;                    
}

.hex .corner-1 {
  z-index:0;
  transform: rotate(60deg);
}

.hex .corner-2 {
  transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
  width: 173px;
  height: 173px;
  content: '';
  position: absolute;
  background: inherit;
  top:0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat:no-repeat;
  backface-visibility: hidden;
}                       

.hex .corner-1:before {
  transform: rotate(-60deg) translate(-87px, 0px);        
  transform-origin: 0 0;
}                       
.hex .corner-2:before {
  transform: rotate(60deg) translate(-48px, -11px);       
  bottom:0;
}  

//////////Ironhackers


/////////// ANIMATIONS
.logo-animation {
	-webkit-animation: rotate-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
	animation: rotate-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.5s both;
}

@-webkit-keyframes rotate-out-top {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}
@keyframes rotate-out-top {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
  }
}

///////////////////MEDIA RESPONSIVE
@media screen and (max-width: 480px) {

  .grid-row {
     display: block;
     width: 100%;
     margin:0;
  }
   
  .item {
   display: block;
   width: 100%;
   margin: 0 0 5px 0;
  }  
  
 }

 //AGORA 

 //index

 #agora__index__li__profile {
  font-size: 1.3rem;
 }

 #agora__index__li__ironhack {
  height: 3vh;
 }

 #agora__h1 {
  font-size: 25px; 
  margin-top: 2%;
 }

 #agora__h5 {
  font-weight:200; 
  text-align:justify; 
  margin: 0% 10%;
 }

 #agora__new_post {
  font-weight:200; 
  margin-left: 45.5%;
 }

 #agora__div__post1 {
  margin: 2% 20%;
 }

 #agora__div__post2{
  display:inline-block;
 }

 #agora__img__profile {
  border-radius: 10%;
 }

 #agora__a__username{
  font-weight:200;
 }
 
 #agora__img__post {
  margin-left:30%;
 }

 //Post

 #post__label__title {
  color:#257ab9; 
  font-size:20px;
 }

 #post__input__title {
  width: 30%;
 }

 #post__input__create {
  margin-top:2%;
 }

 #post__h3__addpost {
  font-weight:300; 
  margin-top: 2%;
 }

 #post__div3 {
  text-align:center;
 }