<header>
  <nav>
    <ul>
      <li class="menu"><a href="" class="navButtons" id="agora__index__li__profile">PROFILE</a></li>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" id="agora__index__li__ironhack"></li>
      <li class="menu"><a href="/auth/logout" class="navButtons" id="agora__index__li__profile">LOGOUT</a></li>
    </ul>
  </nav>
    <div class="navColorDiv"></div>
</header>

<h3 id="post__h3__addpost" class="text-center">ADD A NEW POST</h3>
<div id="post__div3">
  <form action="/agora/post" method="POST" enctype="multipart/form-data">
  <label id="post__label__title">Title</label><br>
  <input id="post__input__title" type="text" name="title"><br>
  <label id="post__label__title">Content</label><br>
  <textarea name="content" cols="60" rows="10"></textarea><br>
  <label id="post__label__title">Image</label><br>
  <input type="file" name="image"/><br>
  <input id="post__input__create" type="submit" value="Create">
  </form>
</div>