<header>
  <nav>
    <ul>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li>
      <li class="menu"><a href="/auth/logout" class="profileLogout" style="font-size: 2rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{!-- ////////////////////////////////////////////////////////////// --}}




<h2>Add a new post</h2>

<form action="/agora/post" method="POST" enctype="multipart/form-data">
<label>Title</label>
<input type="text" name="title"><br>
<label>Content</label>
<input type="text" name="content"><br>
<label>Image</label>
<input type="file" name="image"/>
<input type="submit" value="Create">
</form>

<a href="/profile/{{post.userID}}">Go back to your profile</a>