<header>
  <nav>
    <ul>
      <li class="menu"><a href="/profile/{{eduRes.userID}}" class="navButtons" style="font-size: 1.6rem;">PROFILE</a></li>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li>
      <li class="menu"><a href="/auth/logout" class="navButtons" style="font-size: 1.6rem;">LOGOUT</a></li>
    </ul>
  </nav>
    <div class="navColorDiv"></div>
</header>

{{!-- ////////////////////////////////////////////////////////////// --}}

<div class="card">
<div class="card-header d-flex flex-column justify-content-center">
<h2 class="text-center">EDUCATIVE RESOURCES</h2>
<hr>

{{!-- body --}}
<div class="card-body d-flex flex-column">


{{#each eduRes as |tag|}}
<ul class="card border-info">
    <a class="list-group-item list-group-item-action list-group-item-light text-center" style="font-size: 1.5rem;" href="/eduRes/{{tag._id}}">{{tag.name}}</a>
</ul>


</ul>
{{/each}}

</div>
</div>
  </div>
  
</div>


