<h2>EDUCATIVE RESOURCES</h2>
<a href="/profile/{{eduRes.userID}}">Go back to your profile</a>

{{#each eduRes as |tag|}}
<ul class="list-group">

  <li class="list-group-item">
    <a href="/eduRes/{{tag._id}}">{{tag.name}}</a>
    </li>

</ul>
{{/each}}

