<header>
  <nav>
    <ul>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li>
      <li class="menu"><a href="/auth/logout" class="profileLogout" style="font-size: 2rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{!-- ////////////////////////////////////////////////////////////// --}}




<h2>Extra Resources</h2>
  <a href="/profile/{{userID}}">Go back to your profile</a>

  {{#each extraResources}}
    <ul class="list-group">
      <li class="list-group-item list-group-item-action list-group-item-dark">
        <a href="{{this}}">{{this}}</a>
      {{#if ../admin}}
        <a href="/admin/deleteExtraRes">Delete resource</a>
        {{/if}}
      </li>

    </ul>
  {{/each}}


 