<h2>Learnings</h2>

<div class="grid">
  <div class="grid-row">
    
      {{#each learnings}}
    <div class="item">

      <a href="{{this}}">{{this}}</a>

    </div>
      {{/each}}
  </div>
</div>


  <a href="/profile/{{userID}}">Go back to your profile</a>