<h2>Learnings</h2>
<a href="/profile/{{userID}}">Go back to your profile</a>

{{#each learnings}}
<ul class="list-group">

  <li class="list-group-item">
        <a href="{{this}}">{{this}}</a>
        </li>

</ul>
{{/each}}

