<header>
  <nav>
    <ul>
      <li class="menu"><img src="https://dl.dropboxusercontent.com/s/7hy1qof7mdsgt6y/logoProfiles.png?dl=0" alt="Ironhack" style="height: 3vh;"></li>
      <li class="menu"><a href="/auth/logout" class="profileLogout" style="font-size: 2rem;">LOGOUT</a></li>
    </ul>
  </nav>
</header>

{{!-- ////////////////////////////////////////////////////////////// --}}



<h2>ADD A NEW EXTRA RESOURCE</h2>
<form action="/newExtraRes/{{_id}}" method="POST">
<label>Resource Link:</label>
<input type="text" name="extraResources">
<input type="submit" value="ADD">
</form>
