<h2>ADD A NEW EXTRA RESOURCE</h2>
<form action="/newExtraRes/{{info._id}}" method="POST">
<label>Resource Link:</label>
<input type="text" name="extraResources">
<input type="submit" value="ADD">
</form>