<h1>{{info.name}}</h1>

<a style="font-size: 25px;" href="/learnings/{{info._id}}">LEARNINGS</a><br>
<a style="font-size: 25px;" href="/extraRes/{{info._id}}">EXTRA RESOURCES</a><br>
<a style="font-size: 25px;" href="/newExtraRes">ADD AN EXTRA RESOURCE</a>